<h1>Login:</h1>
<div class="card">
   <div class="card-body">
     <form action="/usuarios/login" method="post">
       <label for="email"> Email: </label>
      <input type="email" class="form-control" name="email" placeholder="digite seu email" required>
      <label for="senha"> Senha: </label>
      <input type="password" class="form-control" name="senha" placeholder="digite sua senha" required>
         <button class="btn btn-success mt-3" type="submit">Entrar</button></a>
     </form>
   </div>
    <div>
      <a  class="p-3 mb-5" href="/">Esqueceu sua senha?</a> | <a href="/usuarios/registro">Não possui cadastro</a>
   </div>
</div>  