<h4>Categorias: </h4>
<hr>
{{#each categorias}}
<div class="card  m-3 mb-1 list-group-item-success">
   <div class="card-body">
<a style="text-decoration: none;" href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
   </div>
</div>
{{else}}
{{/each}}
